.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2%;
}

.card-container{
    width: 15%; 
    margin: 1%;
}

.card-container:hover{
    filter: drop-shadow(6px 6px 6px);
}

.card-header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

}

.card-header-title{
    display: flex;
    flex-flow: column;
    height: 5vh;
    align-items: flex-start;
}

.card-ul{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between; 
}

.card-ul li{
    width: 25%;
    display: flex;
    flex-flow: column;
}

.icon-button{color: gray}


@media screen and (max-width: 480px) {
    .main-container{
        flex-flow: column;
    }

    .card-container{
        width: 100%;
        margin-bottom: 3vh;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .main-container{
        flex-flow: row wrap;
    }

    .card-container{
        width: 45%;
        margin-bottom: 3vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main-container{
        flex-flow: row wrap;
    }

    .card-container{
        width: 30%;
        margin-bottom: 3vh;
    }
}